{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ 'h1.contact.edit'|trans }}</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_index') }}">{{ 'link.contact.back'|trans }}</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
