{% extends 'base.html.twig' %}

{% block lang %}{{ 'lang'|trans }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ 'h1.contact.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.contact.id'|trans }}</th>
                <th>{{ 'table.contact.l_name'|trans }}</th>
                <th>{{ 'table.contact.f_name'|trans }}</th>
                <th>{{ 'table.contact.mail'|trans }}</th>
                <th>{{ 'table.contact.content'|trans }}</th>
                <th>{{ 'table.contact.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.content }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">{{ 'link.contact.show'|trans }}</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">{{ 'link.contact.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'table.contact.error'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">{{ 'link.contact.new'|trans }}</a>
{% endblock %}
