{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ 'h1.contact.new'|trans }}</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">{{ 'link.contact.back'|trans }}</a>
{% endblock %}
